footer {
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 0;
  background-color: black;
  color: darkseagreen;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(74, 112, 139);
}
